/* Versión modificada */

:root {
  /* colores */
  --cl-black: #000000;
  --cl-border: #E7E7E7;
  --cl-foreground: #ABABAB;
  --cl-background: #262626;
  --cl-gray: #B8860B;
  --cl-note: #303030;
  --cl-link: #6A5ACD;

  /* -- Code Block Colors -- */

  /* --- Monokai Theme */
  --cl-code-monokai-background:   #272822;
  --cl-code-monokai-foreground:   #F8F8F2;
  --cl-code-monokai-comment:      #75715E;
  --cl-code-monokai-red:          #F92672;
  --cl-code-monokai-orange:       #FD971F;
  --cl-code-monokai-light-orange: #E69F66;
  --cl-code-monokai-yellow:       #E6DB74;
  --cl-code-monokai-green:        #A6E22E;
  --cl-code-monokai-blue:         #66D9EF;
  --cl-code-monokai-purple:       #AE81FF;

  /* --- Theme Variables */
  --cl-code-background:           var(--cl-code-monokai-background);
  --cl-code-foreground:           var(--cl-code-monokai-foreground);
  --cl-code-builtin:              var(--cl-code-monokai-green);
  --cl-code-comment:              var(--cl-code-monokai-comment);
  --cl-code-function-name:        var(--cl-code-monokai-green);
  --cl-code-keyword:              var(--cl-code-monokai-red);
  --cl-code-string:               var(--cl-code-monokai-yellow);
  --cl-code-type:                 var(--cl-code-monokai-blue);
  --cl-code-variable-name:        var(--cl-code-monokai-orange);
}

@font-face {
  font-family: Lora;
  src: url(Lora-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url(Lora-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  src: url(Lora-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Lora;
  src: url(Lora-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

body {
    font-family: 'Lora', serif;
    background: var(--cl-black);
    color: var(--cl-foreground);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cl-border);
  padding: 10px 30px;
  margin-bottom: 40px;
}

header h1 { font-size: 22px; }

header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  box-shadow: 8px 8px 4px black;
}

nav img {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  border: none;
  box-shadow: none;
}

/* helper classes */
.visually-hidden {
  display: none;
}

ul.menu {
  justify-content: flex-end;
}

.menu li {
  padding-left: 50px;
  cursor: pointer;
}
.menu a {
  color: var(--cl-foreground);
  font-size: 18px;
  font-weight: bold;
}

/* -- main content -- */
a { color: var(--cl-link); }
a:hover {
    transition: 0.2s;
    text-decoration: none;
}
p {
    line-height: 25px;
    font-size: 20px;
    padding-bottom: 20px;
}
h2 {
    font-size: 20px;
    font-weight: bold;
}
main {
    background: var(--cl-background);
    width: 900px;
    margin: auto;
    padding: 20px;
    flex-grow: 1;
}
@media (max-width: 959px) {
    main {
        width: calc(100% - 20px);
        padding: 10px;
    }
}
article h1:first-child { font-size: 28px; }
.post__meta {
    font-size: 18px;
    color: var(--cl-gray);
}

/* -- table -- */
main table { width: 100% }
main table th { text-align: left; }

/* -- Highlight Note Class -- */
.note {
    margin-top: 20px;
    background-color: var(--cl-note);
    padding: 20px;
    border-radius: 2px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}
.note p {
    margin: 0;
    padding: 0;
}

/* -- Page -- */

li {
  font-size: 18px;
}

li.post-title {
  margin-bottom: 20px;
}


/* -- Footer --*/
footer {
  background: var(--cl-foreground);
  color: var(--cl-background);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
